a {
  color: black;
  padding: 5px;
  text-decoration: none;
}

@media only screen and (max-width: 600px) {

  .Banner {
    background-image: url("../public/web3.jpg");
    padding: 100px;
  }

  .Footer {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 20px;
  }

  .Footer > .Legal, .Contacts, .Socials {
    text-align: center;
  }

  .Header {
    display: flex;
    flex-direction: column;
  }

  .Logo {
    background-color: gainsboro;
    display: flex;
    justify-content: space-between;
  }

  .Menu {
    display: none;
  }

  .Menu_Visible {
    background-color: grey;
    display: flex;
    flex-direction: column;
    padding: 20px;
  }

  h1 {
    color: white;
    font-size: 50px;
  }

  h2 {
    font-size: 40px;
  }

  h3 {
    font-size: 30px;
  }

  h4 {
    font-size: 35px;
  }

  h5 {
    font-size: 30px;
  }

  h6 {
    font-size: 20px;
  }

  p {
    color: black;
    font-size: 17px;
  }

}